
 /* {
    border: 1px solid red;
    margin: 5px;
    padding: 5px;
}*/
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: aquamarine;
    align-items: center;
    background-image: url("./picture-rps/colectie-minerale-1.jpg");


}
.rps{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:rgb(119, 242, 195);
    border: 4px solid rgb(204, 9, 9);
    border-radius: 20px;
    box-shadow: 8px 8px 2px rgb(18, 17, 17);
    margin-top: 0px;
    padding: 10px;
    width: auto;
    height: auto;

}

h2 {
    background-color: rgb(255, 0, 0);
    font-size: 35px;
    color:beige;
    text-shadow: 1px 1px 4px black;
    border: 2px solid black;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 6px -6px 6px gray;

}
.options {
    display: block;
    text-align: center;
    margin-top: 20px;
    border: 2px solid rgb(216, 3, 3);
    background: rgba(242, 247, 100, 0.854);
    box-shadow: 6px -6px 6px rgb(26, 24, 24);


}

button {
    color: red;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    text-shadow: 1px 1px 2px black;
    font-weight: 600;
    border-radius: 6px;
    border: 4px solid black;
    margin: 10px;
    min-width: 100px;
    min-height: 100px;
    transition: all 0.1s ease;

}
.playing {
    transform: scale(1.2);
    border-color: red;
    background-color: pink;
  }
.restart{
    width: 140px;
    height: 140px;

    background-color: aqua;
    border-color: rgb(15, 107, 246);
    transform: scale(1.2);
}
  
#computer-option{
    display: flex; 
    align-items: center;
    margin: 10px;

}
#computer {
    min-width: 90px;
    height: 30px;
    background-color: rgb(73, 195, 232);
    display: inline-flex;
    text-align: center;
    align-items: center;
    padding: 5px;
}
p { 
    background: rgb(244, 244, 144);
    text-align: center;
    padding: 5px;
    display: inline-block;
    margin: 5px;
}
.round{
    display: inline-flex;
    align-items: center;
    margin-left: 20px;
    margin-left: 20px;

}
h3 {
    display: inline-block;
    background-color: aquamarine;
    padding: 8px;
    font-size: 25px;
    color: rgb(230, 11, 11);
    text-shadow: 1px 1px 2px black;
    border: 2px solid red;
    margin-right: 20px;

}

#results {
    background: rgb(243, 76, 76);
    border: 2px solid black;
    color: beige;
    font-size: 22px;
    text-shadow: 1px 1px 2px black;
    display: inline-flex;
    align-items: center;
    min-width: 250px;
    min-height: 28px;
    margin-right: 20px;
    padding: 7px;
}

p, #computer{
    font-size: 20px;
    padding-left: 10px;
    border: 1px solid black;
    margin: 5px;

}
.your_points, .computer_points {
    display: flex;
    align-items: center;
}
.youwinn, .computerwinn{
    color: red;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    min-width: 25px;


}
.scoretable{
    display: inline-flex;
    text-align: center;
    background: rgb(163, 163, 246);
    box-shadow: 8px 8px 8px gray;
    margin: 20px;
    margin-left: 20px;
    margin-right: 20px;
}